* {
    font-family: monospace;
}

body {
    margin: 0;
}

header, footer {
    display: flex;
    background-color: lightseagreen;
    justify-content: space-between;
    align-items: center;
    padding: 1%
}

h1 {
    text-align: center;  
    font-size: 280%;
}
/*navigation styling starts here*/
nav {
    display: flex;
}

nav a {
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size:150%;
}

/*navigation buttons will change color and underline when user hovers over section*/
nav a:hover { 
    color: whitesmoke;
    text-decoration: underline;
}
/*navigation styling ends here*/


aside { 
    width:33%;
}

/*makes headshot fill aside completely and makes the image round, with matching border*/
.headshot {
    width: 100%;
    border-radius: 50%;
    border: 2px solid lightseagreen;
}

h2 {
    font-size: 170%;
    color: black;
}

p {
    font-size: 130%
}

li {
    font-size: 130%;
}

main {
    display: flex;
    flex: 1 1 0;
    max-width: 1200px;
    margin: 2% auto;
}
  
section {
    flex: 1 1 0;
    padding-right: 5%;
    padding-left: 5%;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.portfolio-container img {
    border: 3px solid lightseagreen;
    width: 300px;
}


.portfolio-container img:hover {
    opacity: 0.7;
}


/*when screen size gets smaller, navigation will move under the heading, the aside with photo will display first, followed by the main sections of the site. */
@media screen and (max-width: 768px) {
header, main {
    flex-direction: column;
}

section {
    padding-right: 10px;
    padding-left: 10px;
}

aside {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}