* {
    font-family: monospace;
}

body {
    margin: 0;
}

header, footer {
    display: flex;
    background-color: lightseagreen;
    justify-content: space-between;
    align-items: center;
    padding: 1%
}

h1 {
    text-align: center;  
    font-size: 280%;
}
/* navigation styling starts here */
nav {
    display: flex;
}

nav a {
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-size:150%;
}

/* navigation buttons will change color and underline when user hovers over section */
nav a:hover { 
    color: whitesmoke;
    text-decoration: underline;
}
/* navigation styling ends here */

/* font sizes and colors: */
h2 {
    font-size: 170%;
    color: black;
}

h3 {
    color: lightseagreen;
}

p {
    font-size: 130%
}

li {
    font-size: 130%;
}

a {
    text-decoration: none;
}

/* creating initial flex boxes: */
main {
    display: flex;
    flex: 1 1 auto;
    margin: 2% auto;
}

aside { 
    display: flex;
    align-items: center;
    justify-content: center;
    height: min-content;
    padding-left: 20px;
    padding-right: 10px;
}

/* makes headshot specific size and makes the image round, with matching border */
.headshot {
    width: 250px;
    border-radius: 50%;
    border: 2px solid lightseagreen;
}

section {
   padding: 0px 50px;
}

article { 
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.portfolio-container {
    display: flex;
    flex-wrap: wrap;
}

.portfolio-container-item {
    flex: 1;
    margin: .5em;
    box-sizing: border-box;
}

.portfolio-container-item img {
    border: 3px solid lightseagreen;
    max-height: 200px;
    object-fit: cover;
}

/*when you hover over the portfolio images, the image goes slightly grey*/
.portfolio-container-item img:hover {
    opacity: 0.7;
}

/*styling Portfolio flexbox so that the first image is larger than the rest*/
.portfolio-container-item:first-child {
    flex-basis: calc(100% - 1em);
}

.portfolio-container-item:first-child img {
    width: 100%;
}

.portfolio-container-item:not(:first-child) {
    flex-basis: calc(50% - 1em);
}

.portfolio-container-item:not(first-child) img {
    width: 100%;
}

/*when screen size gets smaller, navigation will move under the heading, the aside with photo will display first, followed by the main sections of the site. */
@media screen and (max-width: 768px) {
header, main {
    flex-direction: column;
}
}